<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BurgerOnline</title>
        <meta charset="utf-8"/>
        <!--<link rel="stylesheet" type="text/css" href="css/reset.css">-->
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
      <main>
        <header id="header">
        <img src="img/restaurang.jpg" title="header-image" id="header-image">
        <h1 id="header-text">Välkommen till BurgerOnline</h1>
        </header>
        <section id="Hamburger-section">

          <h2>Select burger</h2>
          <p>This is where your execute burger selection</P>

            <div class="wrapper">
              <div class="top-box"><h2>Liten & vanlig</h2></div>
              <div class="top-box"><h2>Min bästa kawaii uwu</h2></div>
              <div class="top-box"><h2>pretty crispy</h2></div>

              <div class="middle-box"><img src="img/hamburgare.jpg" width="200" title="Liten och vanlig"></div>
              <div class="middle-box"><img src="img/kawaii.jpg" width="200" title="kawaii"></div>
              <div class="middle-box"><img src="img/fake.jpg" width="200" title="pretty crispy"></div>

              <div class="bottom-box"><ul style="text-align: left; font-weight:normal">
                                      <li>Tyvärr inte vegansk</li>
                                      <li>Väldigt <a class="god">god</a> dock!</li>
                                      <li>Extra kostnader kan tillkomma :(</li>
                                      </ul></div>

              <div class="bottom-box"><ul style="text-align: left; font-weight:normal">
                                      <li>Har TF av självklara anledningar</li>
                                      <li>Perfekta bakismaten!!</li>
                                      <li>Cute but <a class="god">deadly</a></li>
                                      </ul></div>

              <div class="bottom-box"><ul style="text-align: left; font-weight:normal">
                                      <li>Fake af och låtsats vara woke</li>
                                      <li>Gör det mesta för views</li>
                                      <li>James Charles?</li>
                                      </ul></div>
              </div>
        </section>

        <section id="Customer-inforamtion">
        <h2>Customer information</h2>
        <p>This is where you provide necessary information</P>

        <h2>Delivery information</h2>
        <form>
          <p>
            <label for="Full name">First</label><br>
            <input type="text" id="Full name" name="fn" required="required" placeholder="First- and Last name">
          </p>
          <p>
            <label for="E-mail">E-mail</label><br>
            <input type="email" id="E-mail" name="em" placeholder="E-mail adress">
          </p>
          <p>
            <label for="Street">Street</label><br>
            <input type="text" id="street" name="sn" required="required" placeholder="Street name">
          </p>
          <p>
            <label for="House">House</label><br>
            <input type="number" id="email" name="em" required="required" placeholder="House number">
          </p>
          <p>
            <label for="Payment method">Payment method</label><br>
            <select id="Payment method" name="pm">
              <option>Mastercard</option>
              <option>Ca$h</option>
              <option>snabba cash</option>
              <option>Vänstra njure</option>
              <option>Högra njure</option>
          </select>
        </p>

        <p>
          <label for="Gender">Gender</label><br>
          <input type="radio" name="gender" value="male">Male<br>
          <input type="radio" name="gender" value="female">Female<br>
          <input type="radio" name="gender" value="Non-binary">Non-binary<br>
          <input type="radio" name="gender" value="null" checked="checked">Do not wish to provide<br>
        </p>
        </form>
        </section>
        <button type="submit"><img src="img/yaas.jpg" width="20">Send Info</button>
      </main>

      <hr>
      <footer>&copy Salem Lojic</footer>
    </body>
</html>
