<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BurgerOnline</title>
        <meta charset="utf-8"/>
        <!--<link rel="stylesheet" type="text/css" href="css/reset.css">-->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="js/menu.js" defer></script>
        <script src="js/js_script.js" defer></script>
        <script src="js/vue_script.js" defer></script>
        <script src="https://vuejs.org/js/vue.js"></script>
    </head>
    <body>

      <main>
        <header id="header">
        <img src="img/restaurang.jpg" title="header-image" id="header-image">
        <h1 id="header-text">Välkommen till BurgerOnline</h1>
      </header>

    <section id="Hamburger-section">
      <div id="hamburgerTable">
      <div id="menu" v-for="burgers in menuitem">
        <div><h2>{{burgers.name}}</h2></div>
        <div><img v-bind:src="burgers.image" width="200"></div>
        <li>{{burgers.kcal}} kcal</li>
        <li v-if="burgers.gluten">Inehåller <a class="god">gluten</a></li>
        <li v-if="burgers.lactose">Inehåller <a class="god">laktos</a></li>
        <input type="checkbox" v-bind:id="burgers.name">
      </div>
    </div>
    </section>

        <section id="Customer-inforamtion">
        <h2>Customer information</h2>
        <p>This is where you provide necessary information</P>

        <h2>Delivery information</h2>
        <form>
          <p>
            <label for="Full name">Full name</label><br>
            <input type="text" id="Full name" name="fn" required="required" placeholder="First- and Last name">
          </p>
          <p>
            <label for="E-mail">E-mail</label><br>
            <input type="email" id="E-mail" name="em" placeholder="E-mail adress">
          </p>
          <p>
            <label for="Street">Street</label><br>
            <input type="text" id="street" name="sn" required="required" placeholder="Street name">
          </p>
          <p>
            <label for="House">House</label><br>
            <input type="number" id="House" name="em" required="required" placeholder="House number">
          </p>
          <p>
            <label for="Payment method">Payment method</label><br>
            <select id="Payment method" name="pm">
              <option>Mastercard</option>
              <option>Ca$h</option>
              <option>snabba cash</option>
              <option>Vänstra njure</option>
              <option>Högra njure</option>
          </select>
        </p>

        <p>
          <label for="Gender">Gender</label><br>
          <input type="radio" name="gender" id="Male" value="Male">Male<br>
          <input type="radio" name="gender" id="Female" value="Female">Female<br>
          <input type="radio" name="gender" id="Non-binary" value="Non-binary">Non-binary<br>
          <input type="radio" name="gender" id="null" value="Do not wish to provide" checked="checked">Do not wish to provide<br>
        </p>

        </form>

        </section>
        <button type="submit" id="klar" v-on:click="markDone()"><img src="img/yaas.jpg" width="20">Send Info</button>
      </main>

      <h3 id="order-information"></h3>
      <h4 id="burger-information"></h3>
      <h4 id="important-information"></h3>
      <hr>

      <footer>&copy Salem Lojic</footer>
    </body>
</html>
