body {
  font-family: arial;
	font-size: 18px;
}

.god{
	font-weight: bold;
}

#Hamburger-section {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	padding: 0px 23px 0px;
	border: 4px dashed #ffffff
}

#Customer-inforamtion {
	border: 4px dashed #000000;
	padding: 0px 23px 0px;
}

button:hover {
  background-color: rgb(100, 100, 100);
}

button {
	margin: 40px 0px 20px 0px;
}

section {
	margin: 20px 0px 0px 0px;
}

#header {
	height: 100 px;
	margin: 0px 0px 0px 4px;
	overflow: hidden;
}

#header-image {
	opacity: 0.5;
	width: 100%;
  height: 300px;
}

#header-text {
	 position: absolute;
	 padding-left: 20%;
	 margin-top: -200px;
	 font-size: 80px;
}

.wrapper {
   width: 50%;
   display: grid;
   grid-gap: 10px;
   grid-template-columns: auto auto  auto;
}

.top-box {
  text-align: center;
   grid-row: 1
}

.middle-box {
  text-align: center;
  align-self: center;
  /*background-color: #ffffff;*/
  grid-row: 2
}

.bottom-box {
   grid-row: 3
}
